body{background-color: pink;}

p{ color: black;font-family: Arial;}

h1,h2{color:purple; font-family:" AR DESTINE";}

h3{color: purple; font-family: Arial;}

table, th, td{border: 1px solid black; color: black; font-family: Arial;}
